<%= simple_form_for(@prueba) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :texto %>
    <%= f.input :fecha %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
